#people-module-search-form {
  text-align: center;
  vertical-align: middle;
}

#people-module-search-form * {
  text-align: center;
  vertical-align: middle;
}

#people-module-search-form h1.people-search {
  background-image: url("img/search-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 121px;
  position: relative;
  text-indent: 331px;
  width: 331px;
  z-index: 1;
}

#people-module-search-form label {
  display: none;
}

#people-module-search-form input.form-text {
  max-width: 100%!important;
  min-width: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(229, 229, 229, 0.5);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

#people-module-search-form .button {
  border-radius: 20px;
  background-color: #d71f3c;
  color: #FFF;
}

#people-module-search-form .button {
  background-color: #e82f4d;
  border-radius: 20px;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

#people-module-search-form .detail-top-right {
  background-image: url("img/top-right.png"); /*762x619*/
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 310px;
  position: fixed;
  top: 0;
  right: 0;
  width: 381px;
  z-index: 0;
}

#people-module-search-form .detail-bottom-left {
  background-image: url("img/bottom-left.png");
  background-position: right top;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  height: 307px;
  left: 0;
  width: 315px;
  z-index: 0;
}
/*/ Big border Brazil
.detail-top-right-1st {
  width: 220px;
  height: 71px;
  transform: rotate(-45deg);
  border-radius: 53px;
  background-color: #d71f3c;
}
.detail-top-right-2nd {
  width: 361px;
  height: 308px;
  transform: rotate(-45deg);
  border-radius: 81px;
  border: 6px solid #f6f6f6;
}
.detail-top-right-3rd {
  width: 174px;
  height: 311px;
  transform: rotate(-45deg);
  border-radius: 53px;
  background-color: #20bec6;
}

.detail-bottom-left-1st {
  width: 248px;
  height: 347px;
  transform: rotate(-45deg);
  border-radius: 81px;
  border: 6px solid #ffffff;
}
.detail-bottom-left-2nd {
  width: 263px;
  height: 187px;
  transform: rotate(-45deg);
  border-radius: 53px;
  background-color: #20bec6;
}
/*/
